body {background:url(../img/fondo.jpg);}
h2 {color:#ffffff;
	font-size:40px;
	top:150px;
	bottom:0;
	right:0;
	left:0;
	background:#911A45;
	display:inline-block;
}
div {position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:1324px;
}
a {text text-decoration:none;
	color:#ffffff;
	display:inline-block; 
	font-size:30px;
	margin:40px 20px 20px 80px;
	background:#911A45;
	box-shadow:8px 8px 10px #530862;
}
a:hover {
	box-shadow:5px 5px 10px #530862;
} 
a:active {
	box-shadow:1px 1px 0px #000000;
}
p {color:#0000000;
	font-size:30px;
	width:1310px;
	background:#E10707;


}